<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TripMark - Destination</title>
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/main.css" rel="stylesheet">
    <link href="../stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../js/jquery/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap/bootstrap.min.js"></script>
</head>

<body>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="../index.html">Travel Diary</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="../index.html"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="signin.html">Sign In</a>
                    </li>
                    <!--li class="page-scroll">
                        <a href="destination.html">Make A Travel Plan</a>
                    </li-->
                    <!--li class="page-scroll">
                        <a href="">Travel Notes</a>
                    </li-->
                    <li class="page-scroll">
                        <a href="editNotes.html">Share Travel Stories</a>
                    </li>
                    <li class="page-scroll">
                        <a href="travelNotes.html">Stories In Time</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <header id="destination-top" class="destination-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="input-group" id="destination-search">
                        <input type="text" class="form-control" placeholder="I want to go...">
                        <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>Search
                </button>
            </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Explore the world - Hot destinations -->
    <section id="explore-the-world" class="explore-the-world">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Explore the world</h2>
                    <hr class="small">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 destination-item">
                    <a href="destinationDetails.html" class="destination-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../img/modals/destinationModal1.JPG" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 destination-item">
                    <a href="destinationDetails.html" class="destination-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../img/modals/destinationModal2.JPG" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 destination-item">
                    <a href="destinationDetails.html" class="destination-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../img/modals/destinationModal3.JPG" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 destination-item">
                    <a href="destinationDetails.html" class="destination-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../img/modals/destinationModal4.JPG" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 destination-item">
                    <a href="destinationDetails.html" class="destination-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../img/modals/destinationModal5.JPG" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 destination-item">
                    <a href="destinationDetails.html" class="destination-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../img/modals/destinationModal6.JPG" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Meet stories - Travel notes -->
    <section id="meet-stories" class="meet-stories">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Meet stories</h2>
                    <hr class="small">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 stories-item">
                    <a href="travelNotes.html" class="stories-link">
                        <div class="caption">
                            <div class="caption-content">
                                Stories in place 1
                            </div>
                        </div>
                        <img src="../img/stories/story1.JPG" class="img-responsive" alt="">
                    </a>
                    <!--div class="row">
                    	<div class="text-center">
                    		<p>Stories in place 1</p>
                    	</div>
                    </div-->
                </div>
                <div class="col-sm-3 stories-item">
                    <a href="travelNotes.html" class="stories-link">
                        <div class="caption">
                            <div class="caption-content">
                                Stories in place 2
                            </div>
                        </div>
                        <img src="../img/stories/story2.JPG" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-3 stories-item">
                    <a href="travelNotes.html" class="stories-link">
                        <div class="caption">
                            <div class="caption-content">
                                Stories in place 3
                            </div>
                        </div>
                        <img src="../img/stories/story3.JPG" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-3 stories-item">
                    <a href="travelNotes.html" class="stories-link">
                        <div class="caption">
                            <div class="caption-content">
                                Stories in place 4
                            </div>
                        </div>
                        <img src="../img/stories/story4.JPG" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
 	<!-- footer -->
    <br>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; yul131@pitt.edu 2016</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#destination-top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>
    <script type="text/javascript">
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    </script>
</body>

</html>
