<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TripMark - timeline</title>
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/main.css" rel="stylesheet">
    <link href="../stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../js/jquery/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap/bootstrap.min.js"></script>
</head>

<body>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="../index.html">Travel Diary</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="../index.html"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="signin.html">Sign In</a>
                    </li>
                    <!--li class="page-scroll">
                        <a href="destination.html">Destination</a>
                    </li-->
                    <li class="page-scroll">
                        <a href="destination.html">Make A Travel Plan</a>
                    </li>
                    <li class="page-scroll">
                        <a href="travelNotes.html">Stories In Time</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
	<header id="destinationDetail-top" class="destinationDetail-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">
                    	Edit Your Stories
                    	<!--small>destination</small-->
                    </h3>
                </div>
            </div>
        </div>
    </header>
    <section id="editByPoint">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Edit by point</h3>
                    <hr class="small">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/editNotes/edit.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>from - to</h4>
                                    <h4 class="subheading">Place1</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Some stories happens... in this place with someone...</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/editNotes/edit.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>date</h4>
                                    <h4 class="subheading">Place2</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Have fun this day with someone at...</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/editNotes/edit.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>date</h4>
                                    <h4 class="subheading">Some place</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Activities and entertainments...</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/editNotes/edit.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>date</h4>
                                    <h4 class="subheading">Place4</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Time to say goodbye...</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>To be
                                    <br>Continue
                                    <br>...</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; yul131@pitt.edu 2016</p>
                </div>
            </div>
        </div>
    </footer-->
</body>

</html>
